DbBlkSizArr=({{ db_blk_siz_arr }})
DbLang={{ db_lang }}
DbCharset={{ db_char_set }}
DbTeritory={{ db_teritory }}
COMPONENT_LANGUAGES={{ '{' }}{{ component_languages }}{{ '}' }}
NlsCharset={{ nls_char_set }}